<div class="_cell-start__18P45PTI _cell__3xfWtNW4">
    <!--cell-start-->
    <AppLogo />
</div>
<div class="_cell-mid__2TcvkI3h _cell__3xfWtNW4">
    <!--cell-mid-->
    <SearchBar />
</div>
<div class="_cell-end__1HhNvumE _cell__3xfWtNW4">
    <!--cell-end-->
    <NavHeaderEnd />
</div>
<div class="_cell-bottom__2hm0faeG _cell__3xfWtNW4">
    <NavHeaderBottom />
</div>