<div class="_base-cell__3GWAhGzq _cell-start__18VzuORb">
    <!--cell-start-->
    <AppLogo />
</div>
<div class="_base-cell__3GWAhGzq _cell-mid__c91XXZJ1">
    <!--cell-mid-->
    <SearchBar />
</div>
<div class="_base-cell__3GWAhGzq _cell-end__2IXsxP8B">
    <!--cell-end-->
    <NavIconGroup />
</div>
<div class="_base-cell__3GWAhGzq _cell-bottom__2OWCJ3Xc">
</div>
