<div class="_nav-header-bottom__O6epkFPV _nav__32xT-Mxw">
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Shop</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Categories</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Collections</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Brands</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Accessories</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">Contact Us</NavLink>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link__snQD-yiK">About</NavLink>
    </div>
</div>