<div class="_nav-bar__2DhFxPQL _nav__32xT-Mxw">
    <div class="_nav-menu__HGxfzwcQ _nav-item__1ybyCyoL">
        <i class="oi oi-menu"></i>
    </div>
    <div class="_nav-link__snQD-yiK _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link-component__2vM_Xla9">Shop</NavLink>
    </div>
    <div class="_nav-link__snQD-yiK _nav-item__1ybyCyoL">
        <NavLink href="#" class="_nav-link-component__2vM_Xla9">
            Contact Us
        </NavLink>
    </div>
    <div class="_nav-link__snQD-yiK _nav-item__1ybyCyoL">
        <a href="#" class="_nav-link-component__2vM_Xla9">
            <i class="oi oi-person"></i>
        </a>
    </div>
    <div class="_nav-basket__1dA7Z45u _nav-item__1ybyCyoL" data-shopping-item-count="22">
        <a href="#">
            <i class="oi oi-basket"></i>
        </a>
    </div>
</div>