<div class="_nav-header-end__2EiNVq47 _nav__32xT-Mxw">
    <div class="_nav-item-menu__1npG0f5F _nav-item__1ybyCyoL">
        <i class="oi oi-menu"></i>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <a href="#">
            <i class="oi oi-person"></i>
            <span class="_nav-text__3nVttfwH">Register</span>
        </a>
    </div>
    <div class="_nav-item-link__325GDrIC _nav-item__1ybyCyoL">
        <a href="#">
            <i class="oi oi-account-login"></i>
            <span class="_nav-text__3nVttfwH">Sign-in</span>
        </a>
    </div>
    <div class="_nav-item-cart__FY57r1HB _nav-item__1ybyCyoL" data-shopping-item-count="22">
        <i class="oi oi-cart"></i>
    </div>
</div>