<div class="_nav__37aywnA2">
    <div class="_nav-item__430us1is">
        <NavLink href="/shop">Shop</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="/shop/effectsType">Effects Type</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="#">Collections</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="/shop/brands">Brands</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="#">Accessories</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="#">Contact Us</NavLink>
    </div>
    <div class="_nav-item__430us1is">
        <NavLink href="#">About</NavLink>
    </div>
</div>
