<form action="#" method="GET" class="_form__1u7FcKeR">
    <button class="_button__25rEVP_T" type="submit">
        <i class="oi oi-magnifying-glass"></i>
    </button>
    <input class="_input__3VPUGl0L" type="search" placeholder="Quick Search">
    <button class="_button__25rEVP_T" type="reset">
        <i class="oi oi-x"></i>
    </button>
</form>
