<form action="#" method="GET" class="_form__lh7xteH3">
    <button class="_form-button__PjV5ER2f _form-item__rSgNG1lS" type="submit">
        <i class="oi oi-magnifying-glass"></i>
    </button>
    <input class="_form-input__2v9T6dg2 _form-item__rSgNG1lS" type="search" placeholder="Quick Search">
    <button class="_form-button__PjV5ER2f _form-item__rSgNG1lS" type="reset">
        <i class="oi oi-x"></i>
    </button>
</form>