@page "/"

<div class="_section__2pu9GKM2 _carousel-section__ODo2CLWj">
    <Slider />
</div>
<div class="_section__2pu9GKM2">
    <header class="_section-header__xheednKr">
        <h2>Latest Products</h2>
    </header>
    <ProductListing />
</div>
