@page "/"

<div class="_carousel-section__2yfCeU-X _section__3dKNxAjb">
    <Slider />
</div>
<div class="_section__3dKNxAjb">
    <header class="_section-header__omjVU4ho">
        <h2>Latest Products</h2>
    </header>
    <ProductListing />
</div>
