.nav-ul {
	display: flex;
	flex-direction: column;
}

.nav-li {
	line-height: 2.8rem;
}

.nav-li-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    position: absolute;
    left: 0;
    top: var(--header-height);

    padding: 1.2rem 2.4rem;
    background: white;
    z-index: 11;
}
