@inherits LayoutComponentBase
<header class="_header__v0q8-BzT _master-container__-5wRw3aC">
    <div class="_master-grid-header__2hAcIH_V _master-grid__CO8Niu7P">
        <Header />
    </div>
</header>

<main class="_main__2OgDZzAM _master-container__-5wRw3aC">
    <div class="_master-grid__CO8Niu7P">
        body...
    </div>
</main>

<footer class="_footer__2xQiEzXP _master-container__-5wRw3aC">
    <div class="_master-grid__CO8Niu7P">
        footer...
    </div>
</footer>
