@inherits LayoutComponentBase
<header class="_header__1ch4BRfE">
    <div class="_master-grid__RPc72tPH _master-grid-header__11Hor7nL">
        <Header />
    </div>
</header>

<main class="_main__1u-xzjkM">
    <div class="_master-grid__RPc72tPH">
        @Body
    </div>
</main>

<footer class="_footer__1cfueSA9">
    <div class="_master-grid__RPc72tPH">
        footer...
    </div>
</footer>
