.carousel {
    --carousel-flex-item: flex;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 50px;
}

.carousel-item {
    align-self: center;
    justify-self: center;
}

.carousel-item-slide {
    composes: carousel-item;
    width: 100%;
    height: 100%;
    
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;

    display: var(--carousel-flex-item);
    overflow: hidden;
}

.carousel-item-chevron {
    grid-row: 1;
    outline: var(--outline);
    padding: 8px 10.5px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    z-index: 1;
}

.carousel-item-left {
    composes: carousel-item;
    composes: carousel-item-chevron;
    grid-column: 1 / span 1;
}

.carousel-item-right {
    composes: carousel-item;
    composes: carousel-item-chevron;
    grid-column: 3 / span 1;
}

.carousel-item-bottom {
    composes: carousel-item;
    grid-column: 2 / span 1;
    grid-row: 2;
    margin: 0 auto;
    display: var(--carousel-flex-item);
}

.carousel-img {
    flex: 0 0 100%;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transform: translateX(0);
}

.carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.6rem;
}

.carousel-dot {
    cursor: pointer;
}

.carousel-dot[data-dot-active="true"] {
    color: red;
}

.carousel-dot + * {
    margin-left: 1.6rem;
}
