.cell {
    width: 100%;
    align-self: center;
}

.cell-start {
    composes: cell;
    grid-column: 1 / span 2;
}

.cell-mid {
    composes: cell;
    grid-column: 3 / span 5;
}

.cell-end {
    composes: cell;
    grid-column: 8 / span 2;
}

.cell-bottom {
    composes: cell;
    align-self: start;
    grid-column: 1 / span 9;
    display: none;
}

@media only screen and (min-width: 1280px)
{
    .cell-bottom {
        display: initial;
    }
}
