.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-header-end {
    composes: nav;
    justify-content: end;
}

.nav-header-bottom {
    composes: nav;
    justify-content: start;
}

.nav-item + * {
    margin-left: 1.6rem;
}

.nav-item-link {
    composes: nav-item;
    display: none;
}

.nav-item-menu {
    composes: nav-item;
    display: initial;
}

.nav-item-cart {
    composes: nav-item;
    padding: .4rem;
    outline: var(--outline);
    border-radius: 50%;
    position: relative;
}

.nav-item-cart::after {
    content: attr(data-shopping-item-count);
    transform: translate(0, -.8rem);
    position: absolute;
    font-size: .8rem;
    padding: .25rem;
    border-radius: 50%;
    background: white;
    opacity: 1;
}

.nav-link {
    font-size: var(--nav-font-size);
}

.nav-text {
    font-size: var(--nav-font-size);
}

@media only screen and (min-width: 1280px)
{
    .nav-item-menu {
        display: none;
    }

    .nav-item-link {
        display: initial;
    }
}
