:root {
    --header-height: 80px;
    --main-padding-top: calc(var(--header-height) + 2.4rem);
    --nav-font-size: 1.4rem;
    --outline: 1px solid grey;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

@media only screen and (min-width: 1280px)
{
    :root {
        --header-height: 120px;
    }
}